<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epn.robinsonhuacho.tesis_prototipomediafidelidad_v10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".InterfazInicial">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SeleccionRol"
            android:label="Selección de Rol"/>
        <activity android:name=".IngresoAplicacion" />
        <activity android:name=".ListaCategoriaProducto" />
        <activity
            android:name=".ListaProductos"
            android:parentActivityName=".ListaCategoriaProducto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaCategoriaProducto" />
        </activity>
        <activity android:name=".ListaBeneficiarioDonacion" />
        <activity android:name=".Donacion" />
        <activity android:name=".ConfirmacionCompra" />
        <activity android:name=".ConfirmacionDonacion" />

        <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />


    </application>

</manifest>